.sub-page {
    background-color: white;    

    .parallax {
        z-index:0;
    }

    #close-ajax {
        position: absolute;
        z-index: 8888;
        top: .75rem;
        left: .75rem;
    }

    .padding-text {
        padding: 1rem;
    }

    h1 {
        text-transform: uppercase;
        letter-spacing: 5px;

        @media #{$small-and-down} {
            font-size: 36px;
            letter-spacing: 3px;
        }
    }
}
